*{
box-sizing:border-box;
}


body{

margin:0;
height:100vh;

background:#080808;

color:white;

font-family:
-apple-system,
BlinkMacSystemFont,
sans-serif;

overflow:hidden;

}



body::before{

content:"";

position:absolute;

width:500px;
height:500px;

background:#333;

border-radius:50%;

filter:blur(120px);

top:-200px;
left:-150px;

opacity:.5;

}



.app{

height:100vh;

display:flex;

flex-direction:column;

position:relative;

padding:30px;

}



header{

text-align:center;

}



h1{

font-size:32px;

}



.player{

flex:1;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

}



.album{

width:260px;
height:260px;

border-radius:35px;


background:

linear-gradient(
135deg,
#222,
#555
);


box-shadow:

0 25px 60px black;


}



h2{

margin-bottom:5px;

}



p{

color:#999;

}



.progress{

width:90%;

height:5px;

background:#333;

border-radius:10px;

margin:25px;

}


.progress div{

width:40%;

height:100%;

background:white;

border-radius:10px;

}



.controls{

display:flex;

align-items:center;

gap:35px;

}



button{

background:none;

border:none;

color:white;

}



svg{

width:30px;
height:30px;

fill:none;

stroke:white;

stroke-width:2;

stroke-linecap:round;

stroke-linejoin:round;

}



.play{

width:75px;
height:75px;

border-radius:50%;


background:

rgba(255,255,255,.12);


backdrop-filter:blur(20px);

}



.play svg{

width:38px;

height:38px;

fill:white;

stroke:none;

}



nav{


position:absolute;

bottom:25px;

left:25px;
right:25px;


height:80px;


display:flex;

justify-content:space-around;

align-items:center;



background:

rgba(255,255,255,.08);


backdrop-filter:blur(30px);



border-radius:30px;


border:

1px solid rgba(255,255,255,.15);

}



nav button{

display:flex;

flex-direction:column;

align-items:center;

gap:5px;

opacity:.6;

}



nav .active{

opacity:1;

}



nav span{

font-size:12px;

}