*{
box-sizing:border-box;
}


body{

margin:0;

height:100vh;

overflow:hidden;

background:#080808;

color:white;

font-family:
-apple-system,
BlinkMacSystemFont,
"SF Pro Display",
sans-serif;

}


/* SPLASH SCREEN */

.splash{

position:fixed;

inset:0;

display:flex;

align-items:center;

justify-content:center;

background:#080808;

z-index:999;


animation:splashOut 1s ease forwards;

animation-delay:2.5s;

}



.pulse-logo{

font-size:58px;

font-weight:700;

letter-spacing:-3px;

color:white;


animation:pulse 2s infinite ease-in-out;

}




@keyframes pulse{


0%{

opacity:.45;

transform:scale(.95);

}



50%{

opacity:1;

transform:scale(1.05);

}



100%{

opacity:.45;

transform:scale(.95);

}


}





@keyframes splashOut{


from{

opacity:1;

}


to{

opacity:0;

visibility:hidden;

}


}




/* BACKGROUND */

body::before{

content:"";

position:absolute;

width:500px;

height:500px;


background:#333;


border-radius:50%;


filter:blur(150px);


top:-250px;

left:-150px;


opacity:.5;

}




.app{

height:100vh;

padding:30px;

position:relative;

z-index:1;

}




.page{

height:100%;

display:flex;

flex-direction:column;

align-items:center;

}



.hidden{

display:none;

}



/* PLAYER */

.player{

flex:1;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

padding-bottom:120px;

}




.album{

width:270px;

height:270px;

border-radius:45px;


background:

linear-gradient(

135deg,

#222,

#555

);


box-shadow:

0 25px 70px rgba(0,0,0,.8);


overflow:hidden;

position:relative;

}



.album::after{

content:"";

position:absolute;

inset:0;


background:

linear-gradient(

120deg,

transparent,

rgba(255,255,255,.25),

transparent

);


transform:translateX(-100%);


animation:shine 5s infinite;


}



@keyframes shine{


to{

transform:translateX(100%);

}


}





h2{

margin-top:25px;

margin-bottom:5px;

}



p{

color:#888;

}




.progress{

width:85%;

height:6px;

background:#333;

border-radius:20px;

margin:25px 0;


}



.progress div{

width:45%;

height:100%;

background:white;

border-radius:20px;

}





/* CONTROLS */


.controls{

display:flex;

align-items:center;

gap:40px;

}



button{

border:none;

background:none;

color:white;

border-radius:50%;

}



svg{

width:34px;

height:34px;

fill:white;

stroke:white;

stroke-width:2;

stroke-linecap:round;

stroke-linejoin:round;

}





.play{

width:80px;

height:80px;


background:

rgba(255,255,255,.12);


backdrop-filter:blur(25px);


display:flex;

align-items:center;

justify-content:center;

}




.play svg{

width:40px;

height:40px;

stroke:none;

}





/* BOTTOM BAR */


nav{


position:absolute;


left:25px;

right:25px;


bottom:85px;


height:85px;



display:flex;

align-items:center;

justify-content:space-around;



background:

rgba(255,255,255,.08);


backdrop-filter:blur(35px);



border-radius:35px;



border:

1px solid rgba(255,255,255,.18);


}




nav button{


display:flex;

flex-direction:column;

align-items:center;


gap:6px;


opacity:.45;


transition:.3s;


}




nav button.active{


opacity:1;


transform:translateY(-3px);


}





nav svg{

width:28px;

height:28px;

}




nav span{

font-size:12px;

}